<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://t3.ftcdn.net/jpg/03/26/34/96/240_F_326349650_Wi2twHswE8JIkPfjfNc5hWjQZKbTdtpz.jpg"
        sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>To-Do</title>

</head>

<body style="background: rgba(71, 61, 221, 0.815);">
    <%- include('./Nav.ejs') %>

        <div class="container mt-5">
            <div class="row col-lg-12 mx-auto" style="display: flex; align-items: center;
        justify-content: center;">
                <%if (list.length>0){ %>
                    <% list.forEach(function(row){ %>
                        <div class="card col-lg-3 col-10 col-md-4 col-sm-5"
                            style=" box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; margin:20px 20px 20px 20px;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= row.title %>
                                </h5>
                                <p class="card-text">
                                    <%= row.description %>
                                </p>
                                <a href="/edit/<%= row._id %>" class="btn btn-primary" style="margin: 5px 5px 5px 0px;"
                                    ><i class="fa fa-edit" style="margin:2px;"></i></a>
                                <a href="/delete/<%= row._id %>" class="btn btn-primary"
                                    style="margin: 5px 5px 5px 5px;"><i class="fa fa-trash"
                                        style="margin: 2px;"></i></a>
                            </div>
                        </div>
                        <% })}else{ %>
                            <div style="text-align: center; font-size: 40px; color: rgb(216, 206, 224);">
                                <h2>No Data Found</h2>
                            </div>
                            <% } %>
            </div>
        </div>
</body>

</html>